@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<projecttour.Models.Tour>



@{
    int CurrentPage = ViewBag.CurrentPage != null ? (int)ViewBag.CurrentPage : 1;

    ViewData["Title"] = "Danh sách tour" + CurrentPage;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>
<div class="page-header">
    <h2 class="header-title">Orders List</h2>
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Tours" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <span class="breadcrumb-item active">Danh sách sản phẩm : trang @ViewBag.pageNumber</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-md-8">

                <div class="row">
                    <div class="col-12">
                        <form method="get" asp-controller="Tours" asp-action="Index">
                            <div class="row">

                                <div class="col-6 ">
                                    <div class="form-group">
                                        <label for="CategoryTourId">Danh mục:</label>
                                        <select class="custom-select" id="CategoryTourId" name="CategoryTourId" style="min-width: 200px;">
                                            <option value="">Chọn danh mục</option>
                                            <option value="0" selected="@((ViewBag.CategoryTourId != null && Convert.ToInt32(ViewBag.CategoryTourId) == 0) ? "selected" : null)">Chọn tất cả</option>

                                            @if (ViewBag.CategoryTourList != null)
                                            {
                                                @foreach (var category in ViewBag.CategoryTourList)
                                                {
                                                    <option value="@category.Value" selected="@((ViewBag.CategoryTourId != null && Convert.ToInt32(ViewBag.CategoryTourId) == Convert.ToInt32(category.Value)) ? "selected" : null)">@category.Text</option>

                                                }
                                            }
                                        </select>

                                    </div>

                                </div>

                            </div>

                        </form>


                    </div>
                    <div class="col-md-6 text-right">
                        <div class="input-affix m-v-10">
                            <i class="prefix-icon anticon anticon-search opacity-04"></i>
                            <input id="keyword" name="keyword" type="text" class="form-control" placeholder="Tìm kiếm sản phẩm">
                        </div>
                    </div>

                    <div id="search-results"></div>
                </div>
            </div>
            <div class="col-lg-4 text-right">
                <a class="btn btn-primary" asp-area="Admin" asp-controller="Tours" asp-action="Create"><i class="anticon anticon-plus-circle m-r-5"></i><span>Thêm sản phẩm</span></a>
            </div>
            <div class="table-responsive">
                <table class="table table-hover e-commerce-table">
                    <thead>
                        <tr>
                            <th>Tour_ID</th>
                            <th>CatID</th>
                            <th>Title</th>
                            <th>Duration</th>
                            <th>Date</th>
                            <th>Tranfer</th>
                            <th>Hotel</th>
                            <th>EmptySeat</th>
                            <th>Departure</th>
                            <th>TourType</th>
                            <th>Price</th>
                            <th>Des</th>
                            <th>Image</th>
                            <th>CatName</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @item.TourId
                                    </td>
                                    <td>
                                        @item.CategoryTourId
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">

                                            <h6 class="m-b-0 m-l-10">@item.Title</h6>
                                        </div>
                                    </td>
                                    <td>@item.Duration</td>
                                    <td>@item.DepartureDate</td>
                                    <td>@item.Tranfer</td>
                                    <td>@item.Hotel</td>
                                    <td>@item.EmptySeat</td>
                                    <td>@item.PointOfDeparture</td>
                                    <td>@item.TourType</td>
                                    <td>@string.Format("{0:#,##0} VND", item.Price)</td>
                                    <td>@item.Description</td>
                                    <td><img src="~/images/tours/@item.Image" alt="Tour Image" width="100px" ></td>
                                    <td>@item.CategoryTourName</td>
                                    <td>
                                        @if (item.Status.HasValue && item.Status.Value > 0)
                                        {
                                            <div class="d-flex align-items-center">
                                                <div class="badge badge-success badge-dot m-r-10"></div>
                                                <div>Còn hàng</div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="d-flex align-items-center">
                                                <div class="badge badge-success badge-dot m-r-10"></div>
                                                <div>Hết hàng</div>
                                            </div>
                                        }
                                    </td>


                                    <td>
                                        <a class="btn btn-primary btn-tone m-r-5" asp-area="Admin" asp-controller="Tours" asp-action="Details" asp-route-id="@item.TourId">Chi tiết</a>
                                        <a class="btn btn-secondary btn-tone m-r-5" asp-area="Admin" asp-controller="Tours" asp-action="Edit" asp-route-id="@item.TourId">Sửa</a>
                                        <a class="btn btn-success btn-tone m-r-5" asp-area="Admin" asp-controller="Tours" asp-action="Delete" asp-route-id="@item.TourId">Xóa</a>
                                    </td>
                                </tr>


                            }
                        }

                        </td>

                    </tbody>
                </table>
                <div class="pagination-container">
                    <p class="pagination-info">Page @Model.PageNumber of @Model.PageCount, showing @Model.TotalItemCount items</p>
                    <ul class="pagination">
                        @if (Model.HasPreviousPage)
                        {
                            <li class="page-item"><a href="@Url.Action("Index", new { page = Model.PageNumber - 1 })" class="page-link">&laquo; Previous</a></li>
                        }
                        else
                        {
                            <li class="page-item disabled"><span class="page-link">&laquo; Previous</span></li>
                        }

                        @for (int i = 1; i <= Model.PageCount; i++)
                        {
                            if (i == Model.PageNumber)
                            {
                                <li class="page-item active"><span class="page-link">@i</span></li>
                            }
                            else
                            {
                                <li class="page-item"><a href="@Url.Action("Index", new { page = i })" class="page-link">@i</a></li>
                            }
                        }

                        @if (Model.HasNextPage)
                        {
                            <li class="page-item"><a href="@Url.Action("Index", new { page = Model.PageNumber + 1 })" class="page-link">Next &raquo;</a></li>
                        }
                        else
                        {
                            <li class="page-item disabled"><span class="page-link">Next &raquo;</span></li>
                        }
                    </ul>
                </div>


            </div>
        </div>
    </div>


    @section Scripts{
        <script>
            $(document).ready(function () {
                $('#CategoryTourId').on('change', function () {
                    var categoryTourId = $(this).val();
                    var categoryTourName = $("#CategoryTourId option:selected").text();
                    $.ajax({
                        url: '/Admin/Tours/Filter',
                        type: 'POST',
                        data: { categoryTourId: categoryTourId, categoryTourName: categoryTourName },
                        success: function (data) {
                            if (data.status === 'success') {
                                window.location.href = data.redirectUrl;
                            }
                        },
                        error: function () {
                            alert('There was an error while processing your request.');
                        }
                    });
                });
            });
        </script>
        <script>
            $ < script >
                $(document).ready(function () {
                    $("#keyword").keyup(function () {
                        var keyword = $(this).val();
                        if (keyword.length >= 1) {
                            $.ajax({
                                url: '/Admin/Search/FindTour',
                                type: 'POST',
                                data: { keyword: keyword },
                                success: function (data) {
                                    $('#searchResult').html(data);
                                },
                                error: function (xhr, textStatus, errorThrown) {
                                    console.log(xhr.responseText);
                                    console.log(textStatus);
                                    console.log(errorThrown);
                                }
                            });
                        } else {
                            $('#searchResult').html('');
                        }
                    });
                });
        </script>


        </script>

    }
